Inference\
https://wikidocs.net/115055

https://huggingface.co/docs/transformers/index

http://kkma.snu.ac.kr/documents/index.jsp?doc=postag

# Author: Yoonhyuck WOO / JBNU_Industrial Information system Engineering
# Date; 2. 10. 2022 - 2. 22. 2022
# Title: Korean_NER
# Professor: Seung-Hoon Na

In [1]:
import os
import pandas as pd
import json
import transformers
from transformers import BertTokenizer
# from tqdm.auto import tqdm

In [2]:
PATH_dir = 'C:\\Users\\LG\\Desktop\\github\\JBNU-2022-SPRING\\English world class tagging & Korean_Named Entity Recognition\\Ko_En_NER_POStag_data\Ko_NER_POS'
file_name_ko_train = 'train.txt'
file_name_ko_test = 'test.txt'
file_name_ko_dev = 'dev.txt'

In [9]:
file_name = file_name_ko_test
PATH_data = os.path.join(PATH_dir, file_name)

# change file extention from '.txt' to '.json'
prepro_file_name = 'prepro_' + file_name.rsplit('.')[0] + '.json'
PATH_preprodata = os.path.join(PATH_dir, prepro_file_name)

In [10]:
with open(PATH_data, 'r', encoding='UTF8') as f:
    rawdata = f.readlines()

In [11]:
df0 = pd.DataFrame(rawdata)
df0

                             0
0      박찬호/NNP\tNNP\tB\tB-PS\n
1             는/JX\tJX\tI\tO\n
2          8/SN\tSN\tB\tB-DT\n
3        일/NNB\tNNB\tI\tI-DT\n
4             (/SS\tSS\tI\tO\n
...                        ...
13768       것/NNB\tNNB\tB\tO\n
13769       이/VCP\tVCP\tI\tO\n
13770         다/EF\tEF\tI\tO\n
13771         ./SF\tSF\tB\tO\n
13772                       \n

[13773 rows x 1 columns]

In [14]:
df = pd.DataFrame(df0[0].str.split('/').tolist(),columns=['1-1','1-2','1-3'])
df

       1-1                  1-2   1-3
0      박찬호  NNP\tNNP\tB\tB-PS\n  None
1        는       JX\tJX\tI\tO\n  None
2        8    SN\tSN\tB\tB-DT\n  None
3        일  NNB\tNNB\tI\tI-DT\n  None
4        (       SS\tSS\tI\tO\n  None
...    ...                  ...   ...
13768    것     NNB\tNNB\tB\tO\n  None
13769    이     VCP\tVCP\tI\tO\n  None
13770    다       EF\tEF\tI\tO\n  None
13771    .       SF\tSF\tB\tO\n  None
13772   \n                 None  None

[13773 rows x 3 columns]

In [15]:
df2 = pd.DataFrame(df0[0].str.split('\t').tolist(),columns=['1','2','3','4'])
df2

             1     2     3       4
0      박찬호/NNP   NNP     B  B-PS\n
1         는/JX    JX     I     O\n
2         8/SN    SN     B  B-DT\n
3        일/NNB   NNB     I  I-DT\n
4         (/SS    SS     I     O\n
...        ...   ...   ...     ...
13768    것/NNB   NNB     B     O\n
13769    이/VCP   VCP     I     O\n
13770     다/EF    EF     I     O\n
13771     ./SF    SF     B     O\n
13772       \n  None  None    None

[13773 rows x 4 columns]

In [16]:
df7 = pd.concat([df['1-1'],df2['4'].str.strip('\n')],axis = 1)
df7 = pd.DataFrame(df7)
df7 = df7.rename(columns={'1-1':'Entity','4':'tag'})
df7

      Entity   tag
0        박찬호  B-PS
1          는     O
2          8  B-DT
3          일  I-DT
4          (     O
...      ...   ...
13768      것     O
13769      이     O
13770      다     O
13771      .     O
13772     \n  None

[13773 rows x 2 columns]

In [17]:
print(len(df7))

13773

# Preprocessing 1

In [18]:
lst=[]
lst_set=[]
lst_ent=[]
lst_tag=[]
for i in range(6945):
    if df7['tag'][i] != None:
        lst_ent.append(df7['Entity'][i])
        lst_tag.append(df7['tag'][i])
    else:
        lst_set.append(lst_ent)
        lst_set.append(lst_tag)
        lst.append(lst_set)
        lst_ent = []
        lst_tag = []
        lst_set = []

In [22]:
print(lst[5][0])
print(lst[2][1])

['-', '주소창', '에', "'", '스포츠', "'", '만', '치', '시', '면', '스포츠서울닷컴', '기사', '가', '한눈', '에', '!']
['O', 'O', 'O', 'B-PS', 'I-PS', 'O', 'O', 'O']

In [25]:
PRETAINED_MODEL_NAME = 'bert-base-multilingual-cased'
tokenizer = BertTokenizer.from_pretrained(PRETAINED_MODEL_NAME)

# Tokenizer tagging

In [26]:
lst=[]
lst_set = []
lst_ent = []
lst_tag = []
for i in range(len(df7)):
    if df7['tag'][i] != None:
        morph_to_tokens = tokenizer.tokenize(df7['Entity'][i])
        if len(df7['Entity'][i]) == len(morph_to_tokens):
            lst_ent.append(df7['Entity'][i])
            lst_tag.append(df7['tag'][i])
            
        else:
            if df7['tag'][i] == 'O':
                lst_ent.append(df7['Entity'][i])
                lst_tag.append(df7['tag'][i])
                for i in range(len(morph_to_tokens)-1):
                    lst_tag.append(df7['tag'][i])
                
            else:
                lst_ent.append(df7['Entity'][i])
                lst_tag.append(df7['tag'][i])
                split = df7['tag'][i].split('-')
                for i in range(len(morph_to_tokens)-1):
                    results = 'I-' + split[-1]
                    lst_tag.append(results)
            
    else:
        lst_ent = result = ' '.join(str(s) for s in lst_ent)
        lst_set.append(lst_ent)
        morph_to_tokens = tokenizer.tokenize(lst_ent)
        lst_set.append(morph_to_tokens)
        lst_set.append(lst_tag)
        lst.append(lst_set)
        result = 0
        lst_ent = []
        lst_tok = []
        lst_tag = []
        lst_set = []

In [27]:
print('entity', len(lst[3][0]))
print(lst[3][0])

print('token', len(lst[3][1]))
print(lst[3][1])

print('token_tag', len(lst[3][2]))
print(lst[3][2])

entity 15
- 5 번 마크 레이놀스 .
token 10
['-', '5', '번', '마', '##크', '레', '##이', '##놀', '##스', '.']
token_tag 6
['O', 'O', 'O', 'B-PS', 'I-PS', 'O']

In [30]:
print(lst[3])

['- 5 번 마크 레이놀스 .', ['-', '5', '번', '마', '##크', '레', '##이', '##놀', '##스', '.'], ['O', 'O', 'O', 'B-PS', 'I-PS', 'O']]

In [28]:
with open(PATH_preprodata, 'w') as f:
    json.dump(lst, f)

In [29]:
with open(PATH_preprodata, 'r') as f:
    preprodata = json.load(f)

# My Data

In [31]:
result = ' '.join(str(s) for s in lst[3][0])

In [32]:
inputs = tokenizer(result, return_tensors='pt')
print(inputs['input_ids'].size())
inputs

torch.Size([1, 12])

{'input_ids': tensor([[ 101,  118,  126, 9338, 9246, 9834, 9186, 9638, 9025, 9477,  119,  102]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])}

In [33]:
from transformers import BertModel

In [34]:
PRETAINED_MODEL_NAME = 'bert-base-multilingual-cased'
bert = BertModel.from_pretrained(PRETAINED_MODEL_NAME)

Some weights of the model checkpoint at bert-base-multilingual-cased were not used when initializing BertModel: ['cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [35]:
outputs = bert(**inputs)

In [36]:
outputs.keys()

odict_keys(['last_hidden_state', 'pooler_output'])

In [37]:
outputs

BaseModelOutputWithPoolingAndCrossAttentions(last_hidden_state=tensor([[[ 0.3649, -0.0665, -0.3947,  ...,  0.2680,  0.1175,  0.1527],
         [ 0.1875, -0.6374,  0.4631,  ...,  0.2745, -0.1235,  0.9780],
         [-0.3853, -0.4464,  0.0116,  ..., -0.6496,  0.1723,  0.5837],
         ...,
         [ 0.9614, -0.3377, -0.0905,  ...,  0.4002,  0.0628,  0.3582],
         [ 0.7023, -0.3170, -0.7976,  ...,  0.3832,  0.1798,  0.4563],
         [ 0.7054, -0.0679, -0.3709,  ...,  0.1200,  0.0807,  0.4596]]],
       grad_fn=<NativeLayerNormBackward>), pooler_output=tensor([[ 0.2764, -0.0306,  0.2660, -0.0536,  0.0713,  0.4242,  0.0637,  0.2402,
         -0.4094,  0.2865,  0.0693, -0.1161, -0.2005, -0.1117,  0.1129, -0.3604,
          0.7204,  0.0443,  0.0575, -0.3142, -1.0000, -0.1155, -0.3364, -0.1114,
         -0.4538, -0.0540, -0.0862,  0.1193,  0.1355, -0.0590, -0.0113, -1.0000,
          0.4654,  0.6495,  0.1981, -0.0345,  0.1674,  0.3721,  0.2504, -0.4007,
         -0.1429, -0.1354, -0.0509,  0.2462, -0.0729, -0.3271, -0.0875,  0.2346,
         -0.3653,  0.2049,  0.0952,  0.2448,  0.5031,  0.4691,  0.3822,  0.2257,
          0.4569,  0.2827,  0.2064, -0.1397,  0.0317,  0.2935,  0.2220, -0.2600,
         -0.3631, -0.2467,  0.1185, -0.1227,  0.5698, -0.2136, -0.1965, -0.4398,
         -0.2557,  0.2155,  0.0760, -0.2326,  0.3794,  0.3766,  0.0929, -0.1373,
         -0.3951, -0.4719, -0.3203,  0.1326, -0.2158,  0.2361,  0.3406, -0.3524,
          0.1396, -0.0037,  0.0121,  0.6599, -0.1971,  0.3931, -0.0561, -0.0459,
         -0.8693,  0.0424, -0.0441, -0.3501, -0.0667,  0.0473, -0.3193, -0.1648,
         -0.3749, -0.1283,  0.2860,  0.1827, -0.0838,  0.3477,  0.0589, -0.5199,
         -0.2927,  0.0176, -0.3204,  0.9713, -0.2137,  0.1288, -0.1412, -0.0715,
         -0.6744,  1.0000,  0.1760, -0.2727,  0.1180,  0.0880, -0.6647,  0.1178,
          0.0552,  0.2886, -0.0786, -0.1290, -0.1616, -0.5063, -0.7994, -0.1955,
         -0.1944,  0.2640, -0.3372, -0.2163,  0.1632,  0.6115,  0.0930, -0.0145,
         -0.0285, -0.0939,  0.1538, -0.2392,  1.0000,  0.7147, -0.1105, -0.3699,
          0.3541, -0.6878, -0.3089, -0.3578, -0.2240, -0.5318,  0.2244,  0.1222,
          0.1590, -0.0543, -0.1092, -0.0855,  0.2845, -0.6446, -0.2830,  0.3313,
          0.1558,  0.1760, -0.1263,  0.2177,  0.3169, -0.1395,  0.0032,  0.2700,
          0.0766, -0.0170, -0.0037, -0.1265,  0.1711, -0.0994, -0.2884,  0.0333,
         -0.2270, -0.4048,  0.0125, -0.0548, -0.0845,  0.2450, -0.0332,  0.1873,
         -0.2866,  0.1172,  0.2138,  0.0565, -0.5179,  0.2903,  0.2362,  0.2949,
          0.1476,  0.2947,  0.0442,  0.0671, -0.2154, -0.4405,  0.1009,  0.1317,
          0.4180, -0.2475, -0.5792, -0.1515,  0.6917,  0.3627, -0.1817,  0.0800,
          0.1272, -0.1930, -0.1907,  0.2420,  0.0393, -0.2098, -0.2525, -0.1389,
         -0.0210,  0.1610,  0.1594,  0.0783,  0.1032,  0.0569,  0.0204, -0.1291,
          0.0673,  0.4973, -0.2044,  0.8513, -0.2973,  0.1358, -0.4583, -0.2283,
          0.1721, -0.2405,  0.1633,  0.9447,  0.0795, -0.3891,  0.1516,  0.2887,
          0.0142, -0.2131,  0.0024, -0.6839,  0.4994,  0.1262,  0.1014, -1.0000,
          0.0856,  0.0486,  0.3366,  0.0916,  0.0781,  0.2490,  0.2350,  0.9038,
         -0.4401, -0.4646, -0.1066, -0.0630, -0.5703, -0.1619, -0.0504, -0.3351,
         -0.0229, -0.0432, -0.1517,  0.0800,  0.4126, -0.9889,  0.8856,  0.2045,
         -0.1269,  0.0526,  0.3250, -1.0000,  0.4439, -0.1102, -0.2977,  0.2747,
         -0.4947, -0.2521,  0.0956,  0.3864,  0.2720,  0.2685,  0.2187,  0.6060,
          0.1446,  0.0588,  0.2018, -0.1516,  0.6421, -0.0345, -0.0803,  0.4409,
         -0.2040,  0.1568, -0.2080,  0.1983,  0.2224,  0.1300, -0.0690, -0.1128,
          0.2323, -0.8583,  0.0957, -0.3103,  0.0943, -0.1682,  0.0774, -0.1063,
         -0.2671,  0.0943, -0.2199,  1.0000,  0.2297, -0.0579, -0.1724,  0.6026,
          0.4901, -0.2378, -0.2533, -0.1354,  0.6498,  0.2927,  0.2751, -0.0263,
         -0.0243,  0.3953, -0.0555, -0.2185,  0.1191, -0.3898,  0.0180, -0.0662,
         -0.3423,  0.0635, -0.1601, -0.1144, -0.5947,  0.3071,  0.0351,  0.1343,
          0.0977,  0.2047, -0.1277,  0.6492,  0.3130, -0.1646, -0.2092, -0.2829,
         -0.3659, -0.0928, -0.2514, -0.3589,  0.1767, -0.7104,  0.0852,  0.0560,
         -0.1466, -0.4402,  0.3400, -1.0000, -0.2145,  0.2218, -0.3086,  0.2089,
         -0.3490, -0.0985,  0.2166,  0.1864,  0.0409, -0.0212, -0.2925,  0.0112,
         -0.0505, -0.0414,  0.8495,  0.6966, -0.0337, -0.0645,  0.0613, -0.6306,
         -0.1707,  0.2869,  0.1987, -0.2208,  0.1447, -0.0177,  0.0341, -0.0395,
          0.2865, -0.0306, -0.1573,  0.1231, -0.1060, -0.2146, -0.0611,  0.3861,
         -0.4408,  0.2128,  0.1708,  0.2200,  0.1326,  0.4311, -0.3315,  0.0160,
         -0.0992, -0.0387, -0.2060, -0.1149, -0.0266,  1.0000,  0.4532,  0.3562,
         -0.1941,  0.0984,  0.2490, -0.4960,  0.2530,  0.0983,  0.1098, -0.0957,
          0.0704,  0.1204,  0.2950,  0.4028,  0.0209,  0.4517, -0.2979,  0.6879,
         -0.0978, -0.3981, -0.9938,  0.1463,  0.2378, -0.2601, -0.3657,  0.1686,
         -0.3587,  0.1558, -0.0768,  0.1147,  0.1067, -0.0921,  0.3777, -0.3536,
          1.0000,  0.0333,  0.0730,  0.2786,  0.1985, -0.1647, -0.0864,  0.1400,
          0.3202, -0.0525,  0.0990, -0.9340,  0.1033,  0.1246,  0.4276, -0.1864,
          0.3800, -0.4781,  0.2680,  0.0305, -0.0679, -0.2615,  0.2267, -0.2209,
          0.3719, -0.2119,  0.1788, -0.1228,  0.2999,  0.0577,  0.1794, -0.0396,
          0.2084, -0.1533, -0.1814, -0.2437,  0.1309, -0.5206,  1.0000, -0.0575,
          0.1930, -0.1875,  0.1612, -0.1465,  0.1854,  0.7543, -0.3256,  0.2935,
          0.3055, -0.7658,  0.1835, -0.1191, -0.6001, -0.1766,  0.9499, -0.0434,
          0.4047,  0.1124,  0.3409,  0.0670, -0.0720,  0.2491,  0.8576,  0.1510,
          0.1751,  0.1121,  0.0542, -0.3271, -0.1568,  1.0000,  1.0000, -0.0185,
          0.2974, -0.4253, -0.3222, -0.1721,  0.1673,  0.2797,  0.1911, -0.1179,
          0.0028, -0.4402, -0.2845, -0.1095,  0.0201, -0.1533,  0.0501, -0.2002,
          0.6243,  0.4955,  0.1818,  0.4899,  0.1059,  0.2022,  0.0552, -0.2499,
          0.5245, -0.1366, -0.1379, -0.3983,  0.0634, -1.0000,  0.0277, -0.2229,
         -0.1818,  0.5137,  0.1946,  0.0317, -0.3526, -0.0534, -0.1746,  0.1404,
          0.1227,  0.0305, -0.2556, -0.4196,  0.4257, -0.5319,  0.2008, -0.1877,
         -0.1014, -0.7529, -0.1893, -0.1315,  0.3462, -0.2778, -0.2481,  0.1872,
          0.1214,  0.2200, -0.3234,  0.1954, -0.3491,  0.1983,  0.1426,  0.2708,
          0.1372, -0.3116, -0.2406, -0.1170, -0.1747, -0.1413,  0.0802, -0.1498,
          0.1244, -0.1017,  0.1998, -0.1951,  0.1108,  0.2492,  0.5609, -0.3555,
          0.4335,  0.2503, -0.1246,  0.5876,  0.0480, -0.1429, -0.2241,  1.0000,
          0.5063,  0.1478,  0.2133, -0.2111,  0.3814,  0.0528,  0.5061, -0.1981,
          0.5143, -0.3030,  0.1609,  0.0825,  0.3334,  0.0790,  0.3791,  0.2886,
          0.7838,  0.0893,  0.1019,  0.2940,  0.1586,  0.3230,  0.2977,  0.2610,
          0.2764,  0.4072, -0.1381,  0.1267, -0.0343, -0.0258,  0.0380, -0.0879,
         -0.3982,  0.0827, -0.1402, -0.1425, -0.1828,  0.2856, -0.1683,  0.3918,
         -0.1734, -0.2920,  0.6906, -0.5146,  0.0117, -0.2569,  0.0078, -0.7998,
          0.1036, -0.2282, -0.4687, -0.1148, -0.2780,  0.2028,  0.2290, -0.0046,
          0.2835, -0.1632,  0.1660, -0.2089, -0.2319,  0.0176, -1.0000,  0.1733,
          0.0193, -0.1812, -0.0648,  0.0507,  0.2101,  0.1351, -0.1689,  0.0301,
         -0.0088,  0.3560, -0.2173, -0.0258,  0.0252, -0.3954, -0.2614,  0.0829,
         -0.2442,  0.2467,  0.2712, -0.2598,  0.0748, -0.2284,  0.1705, -0.0264,
          0.1916, -0.4227, -0.3124,  0.2621, -0.4827, -0.3512, -0.0720,  0.0065,
         -0.1591,  0.0552,  0.1277, -0.0611,  0.3726, -0.2678,  0.2949, -0.2547,
          0.2350, -0.8636, -0.3601, -0.2199, -0.2042,  0.3527,  0.1774,  0.2262,
          0.1843,  0.0867,  0.2178, -0.0614,  0.2251,  0.2049, -0.1290,  0.0743,
         -0.2144,  0.2642, -0.1667,  0.0301, -0.9865, -0.1797,  0.0218,  0.2329,
          0.2236, -0.1713, -0.0871, -0.1628, -0.1194,  0.1638,  0.2165,  0.1415,
          0.1296,  0.1020, -0.3279,  0.2201,  0.5046, -0.2377, -0.0474,  0.4513,
          0.0197,  0.5644,  0.3352,  0.2157,  0.1582, -0.4136,  0.1422,  0.2369]],
       grad_fn=<TanhBackward>), hidden_states=None, past_key_values=None, attentions=None, cross_attentions=None)